// Student Name : Lee Ho Kan, Leung Tsz Chung, Lee Kong Yau, Lui Chak Sum, Ho Yan Tung
// Student ID : 1155157376, 1155141896, 1155149600, 1155158054, 1155176122

#app{
  background-color: rgb(225, 255, 179);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#userInfo{
  width: 200px;
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 1;
  background-color: rgb(233, 131, 131);
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px;
  hr{
    margin: 5px 0;
  }
  p{
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: left;
  }
  #intro{
    font-style: italic;
    text-decoration: underline;
  }
  #name{
    font-weight: bold;
    font-size: large;
  }
  #name-warn{
    color: rgb(156, 0, 0);
  }
  button{
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    background-color: rgb(151, 172, 230);
    font-size: 15px;
    font-weight: bold;
    width: 175px;
    height: 30px;
    bottom: 0;
  }
}
#titleBar{
  text-align: center;
  background-color: rgb(255, 169, 8);
  font-size: 30px;
  font-weight: bold;
  svg{
    font-size: 40px;
    left: 0px;
    top: 5px;
    position: absolute;
    margin: auto;
    cursor: pointer;
    display: block;
  }
  #user{
    height: 50px;
    width: 50px;
    top: 0px;
    position: absolute;
    right: 5px;
    svg{
      font-size: 35px;
      margin: auto;
      cursor: pointer;
      display: block;
    }
  }
}
#navBar{
  background-color: rgb(9, 66, 9);
  position: relative;
  text-align: left;
  height: 35px;
  p{
    display: inline;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    line-height: 35px;
  }
  #searchBar{
    position: absolute;
    right: 10px;
    color: white;
    display: inline;
    font-size: 15 px;
    cursor: pointer;
    input{
      width: 250px;
      height: 25px;
      margin: 5px;
      cursor: text;
    }
  }

}
#main {
    min-width: 1200px;
    padding: 1%;
    #hotProduct {
      position: relative;
      background-color: white;
      min-width: 600px;
      display:table;
      margin: auto;
      width: 75vw;
      height: 400px;
      border: 2px solid black;
      #img {
        display: inline-block;
        height: 100%;
        width: 50%;
        text-align: right;
        line-height: 400px;
      }
      #productDesc {
        display: inline-block;
        height: 100%;
        width: 50%;
        line-height: 400px;
        padding-left: 2%;
        .star{
          margin-left: 1%;
          color: rgb(255, 230, 0);
        }
        #displayBlock{
          position: absolute;
          right: 3%;
          bottom: 3%;
          font-size: 20px;
          .chosenPoint{
            color: red;
          }
          .awaitPoint{
            color: blue;
          }
        }
        h5{
          font-weight: bold;
          color: red;
          line-height: 1.5;
          margin: 0;
          padding: 0;
        }
        .title{
          font-style: italic;
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .content{
          text-decoration: underline;
        }
        .feedback{
          font-size: 15px;
        }
        p{
          margin: 0;
          padding: 0;
          line-height: 1.5;
        }
      }
    }
    #lowerHalf{
      display: grid;
      margin-top: 2%;
      column-gap: 10px;
      grid-template-columns: 300px auto;
      height: auto;
      #searchArea {
        display: inline-grid;
        border: 1px solid black;
        #searchGroup{
          margin: 3%;
          margin-bottom: 5%;
          font-size: 15 px;
          input{
            width: 250px;
            height: 25px;
            margin: 5px;
          }
        }
        #filter{
          margin-left: 4%;
          margin-right: 4%;
          font-style: italic;
          #filterTitle1{
            position: relative;
          }
          .slider{
            margin-top: 4%;
            width: 250px;
            height: 5px;
            background-color: rgb(138, 138, 243);
            border-radius: 10px;
            .priceThumb-0{
              border: 1px solid black;
              width: 15px;
              height: 15px;
              cursor: pointer;
              background-color: white;
              border-radius: 10px;
              transform: translateX(-7px);
              transform: translateY(-4px);
            }
            .priceThumb-1{
              border: 1px solid black;
              width: 15px;
              height: 15px;
              cursor: pointer;
              background-color: white;
              border-radius: 10px;
              transform: translateX(7px);
              transform: translateY(-4px);
            }
          }
          h5{
            margin: 0;
            padding: 0;
            font-size: 14px;
          }
          hr{
            margin: 0;
          }
          p{
            font-size: 12px;
          }
          #showRange{
            margin-top: 2%;
          }
          #minRange{
            margin-top: 2%;
            display: inline;
          }
          #maxRange{
            margin-top: 2%;
            display: inline;
            position: absolute;
            right: 10px;
          }
          #filterTitle2{
            margin: 5% 0%;
            table, tr{
              width: 100%;
            }
            td{
              width: 50%;
            }
            input{
              display: inline;
              width: auto !important;
            }
            p{
              position: relative;
              font-size: 12px;
              display: inline;
              margin-left: 5px;
              text-align: center;
              top: -2px;
            }
          }
          #filterTitle3{
            margin: 5% 0%;
            table, tr{
              width: 100%;
            }
            td{
              width: 50%;
            }
            input{
              display: inline;
              width: auto !important;
            }
            p{
              position: relative;
              font-size: 12px;
              display: inline;
              margin-left: 5px;
              text-align: center;
              top: -2px;
            }
          }
        }
      }
      #recommendProduct {
        position: relative;
        display: inline-grid;
        border: 1px solid black;
        padding: 1%;
        #titleRecommendation{
          font-style: italic;
          font-weight: bold;
          text-decoration: underline;
          margin: 0;
          padding: 0;
          height: 20px;
        }
        .productGroup{
          position: absolute;
          top: 40px;
          padding: 1%;
        }
        .productDesc{
          position: relative;
          width: 100%;
          height: 100px;
          margin: 1% 0%;
          img{
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            left: 50px;
            max-width: 100px;
            max-height: 100px;
            margin: auto;
          }
          .descArea{
            display: inline-block;
            position: absolute;
            left: 100px;
            padding: 1% 2%;
            top: 0px;
            bottom: 0px;
            right: 0px;
            p{
              margin: 0;
              padding: 0;
              font-size: 12px;
              display: inline;
            }
            .titleBar{
              margin-right: 5px;
              font-size: 18px;
              font-weight: bold;
            }
            .highlightedFeedback{
              display: block;
              p{
                font-size: 15px;
              }
            }
            .additionalComment{
              font-style: italic;
            }
            .star{
              margin-left: 1%;
              color: rgb(224, 202, 0);
            }
            .directButton{
              position: absolute;
              right: 1%;
              margin-bottom: 0%;
              border-radius: 10px;
              background-color: rgb(151, 172, 230);
              font-size: 12px;
              font-weight: bold;
            }
          }

        }
      }
    }
}
#search{
    min-height: 100vh;
    background-color: rgb(225, 255, 179);
    min-width: 600px;
    padding: 1%;
    #searchTitle{
      padding: 0;
      margin: 0;
    }
    #searchFilter{
      padding: 0;
      margin: 0;
      font-style: italic;
      font-size: 12px;
    }
    .productGroup{
      position: absolute;
      top: 40px;
      padding: 1%;
    }
    .productDesc{
      position: relative;
      width: 100%;
      height: 100px;
      margin: 1% 0%;
      img{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50px;
        max-width: 100px;
        max-height: 100px;
        margin: auto;
      }
      .descArea{
        display: inline-block;
        position: absolute;
        left: 100px;
        padding: 1% 2%;
        top: 0px;
        bottom: 0px;
        right: 0px;
        p{
          margin: 0;
          padding: 0;
          font-size: 12px;
          display: inline;
        }
        .titleBar{
          margin-right: 5px;
          font-size: 18px;
          font-weight: bold;
        }
        .highlightedFeedback{
          display: block;
          p{
            font-size: 15px;
          }
        }
        .additionalComment{
          font-style: italic;
        }
        .star{
          margin-left: 1%;
          color: rgb(224, 202, 0);
        }
        .directButton{
          position: absolute;
          right: 1%;
          margin-bottom: 0%;
          border-radius: 10px;
          background-color: rgb(151, 172, 230);
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
}
#product{
  min-height: 100vh;
  background-color: rgb(225, 255, 179);
  min-width: 600px;
  padding: 1%;
  #productSession{
    background-color: white;
    position: relative;
    width: 100%;
    img{
      height: 100%;
      padding: 2%;
      border: 1px solid black;
    }
    #productDesc{
      height: 100%;
      padding: 1% 30px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      position: relative;
      #like{
        margin-left: 20px;
        display: inline;
        transform: translateY(-2px);
        color: red;
        svg{
          transform: translateY(-2px);
          cursor: pointer;
        }
      }
      p, pre{
        top: 0;
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
      .titleBar{
        top: 0;
        margin-right: 5px;
        font-size: 18px;
        font-weight: bold;
      }
      #toOrder{
        position: absolute;
        right: 1%;
        bottom: 5%;
        text-align: center;
        p{
          display: inline;
          font-size: 16px;
        }
        svg{
          cursor: pointer;
        }
        input{
          display: inline;
          width: 40px;
          margin: 5px 10px;
        };
        .directButton{
          display: block;
          border-radius: 10px;
          background-color: rgb(151, 172, 230);
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
  #otherProductSession{
    margin-top: 2%;
    .placeholder{
      width: 10px;
      color: transparent;
      cursor: default;
    }
    .productCard{
      background-color: white;
      border: black 1px solid;
      width: 300px;
      height: 400px;
      padding: 2px;
      position: relative;
      img{
        max-width: 300px;
        max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      hr{
        margin: 10px 0 ;
      }
      p{
        padding: 0;
        margin: 0 5px;
      }
      .cardTitle{
        font-weight: bold;
        font-size: 18px;
      }
      .cardInfo{
        font-size: 15px;
        font-style: italic;
        font-family: "Proggy Fonts";
      }
      button{
        display: block;
        border-radius: 10px;
        background-color: rgb(151, 172, 230);
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  #commentSession{
    margin-top: 2%;
    .comments{
      position: relative;
      background-color: white;
      border: 1px solid black;
      height: 100px;
      padding: 0 10px;
      margin: 20px 0;
      p{
        padding: 0;
        margin: 0;
      }
      .star{
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 20px;
        color: rgb(224, 202, 0);
      }
      .userName{
        text-decoration: underline;
        font-style: italic;
      }
      .userComment{
        font-size: 14px;
        font-family: sans-serif;
      }

    }
  }
  #ratingSession{
    width: 100%;
    textarea{
      width: 100%;
      height: 100px;
    }
    p{
      font-weight: bold;
      color: red;
      padding: 0;
      margin-bottom: 10px;
    }
    #rate{
      color: black;
      font-weight: 500;
      svg{
        color: rgb(224, 202, 0);
        font-size: 20px;
        margin-bottom: 4px;
      }
    }
    textarea{
      margin-bottom: 4px;
    }
    button{
      display: block;
      border-radius: 10px;
      background-color: rgb(151, 172, 230);
      font-size: 15px;
      font-weight: bold;
    }
  }
}

#login {
  background-color: rgb(225, 255, 179);
  min-width: 600px;
  padding: 10%;

  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container .form-content {
    display: none;
  }

  .form-container .form-content.active {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .navbar {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

#profile {
    background-color: rgb(225, 255, 179);
    min-width: 1200px;
    padding: 1%;

    .form-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
    }

    .icon-container {
      display: flex;
      align-items: center;
    }
    
    .icon-container i {
      font-size: 1.5em;
      margin-right: 10px;
      margin-top: -5px;
    }

    #general  {display: table;}
    #row {display: table-row;}
    .cell {display: table-cell;}
    .label {
      padding-right: 10px;
    }

    #ButtonContainer {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
      
}

#favour,#orderlist,#order {
  background-color: rgb(225, 255, 179);
  min-width: 600px;
  padding: 3%;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; /* Add margin to the top of the table */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  thead th {
    background-color: #303c6c;
    color: #ffffff;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Add alternating row background color */
  }

  tbody tr:hover {
    background-color: #e0e0e0; /* Add hover effect */
  }

  td img {
    display: block;
    margin: 0 auto;
  }
}












